# ============================================
# Игнорируем ВСЁ
# ============================================
*

# ============================================
# Разрешаем служебные файлы git
# ============================================
!.gitignore

# ============================================
# Разрешаем файлы аддона
# ============================================
!NSQC4.toc

# Папка GP и её содержимое
!GP/
!GP/**