# ============================================
# Игнорируем ВСЁ
# ============================================
*

# ============================================
# Разрешаем служебные файлы git
# ============================================
!.gitignore

# ============================================
# Разрешаем файлы аддона
# ============================================
!NSQC4.toc
!VERSION.lua
!updateConfigs.sh

# Папка Core и её содержимое
!Core/
!Core/**

# Папка GP и её содержимое
!GP/
!GP/**

# Папка Guild и её содержимое
!Guild/
!Guild/**

# Папка Media и её содержимое
!Media/
!Media/**

# Папка BS и её содержимое
!BS/
!BS/**